<!DOCTYPE html>
<html lang="es-VE">

<head>
   <title>Kendys · HOME</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <meta name="csrf-token" content="Qvv3lPLFc63umRdN07bYXfOf3UQcr4ionOdC137H">

   <link media="all" type="text/css" rel="stylesheet" href="css/bootstrap-m.css">

   <link rel="stylesheet" href="css/font-awesome/css/all.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="icon" sizes="any" type="image/png" href="asset('images/favicon.png">
   <link rel="stylesheet" href="css/kendys.css">

   <link rel="stylesheet" href="css/catalogue.css">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/slider.css">

   <link rel="stylesheet" href="css/ninja-slider.css">
   <link rel="stylesheet" href="css/stickyNavbar/css/animate.min.css">
   <link rel="stylesheet" href="plugins/sweet-alert/sweetalert2.min.css">
</head>

<body>
   <main role="main" class="main flex flex--wrap justify-content--center">
      <header class="width--100 fijar" id="home">
         <!-- Menú de navegación para PC -->

         <div id="header-nav" class="header header--nav">
            <nav class="navbar navbar--pc" id="navbar-scrollTop">

               <div class="images">
                  <a href="#" class="images__enlace">
                     <img src="images/logo/kendys.svg" alt="Logotipo" class="navbar__logo">
                  </a>
               </div>

               <ul class="menu menu--horizontal menu--pc" data-menu="menuBar">

                  <li class="menu__item"><a class="menu__enlace" href="#">Inicio</a></li>
                  <li class="menu__item"><a class="menu__enlace" href="#nosotros">Nosotros</a></li>
                  <li class="menu__item"><a class="menu__enlace" href="#colecciones">Colecciones</a></li>
                  <li class="menu__item"><a class="menu__enlace" href="#accesorios">Accesorios</a></li>
                  <li class="menu__item"><a class="menu__enlace" href="index.php/catalogue">Catálogo</a>
                  </li>
                  <li class="menu__item"><a class="menu__enlace" href="index.php/blog">Blog</a>
                  </li>
                  <li class="menu__item"><a class="menu__enlace" href="#contact">Contacto</a></li>

                  <li class="menu__item">
                     <a href="index.php/login"
                        class="menu__enlace menu__enlace--separador menu__enlace--login">Login</a>
                  </li>

                  <li class="menu__item">
                     <a href="index.php/register" class="menu__enlace menu__enlace--login">Registrarse</a>
                  </li>

               </ul>


               <button class="btn btn--menu btn--smartphone" data-button="menu">
                  <i class="fas fa-bars"></i> Menú
               </button>
            </nav>
         </div>

         <div class="container-fluid d-lg-block">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img src="images/slider/banners/banner1.jpeg" alt="Banner 1">
                  </div>
                  <div class="carousel-item">
                     <img src="images/slider/banners/banner3.jpeg" alt="Banner 2">
                  </div>
                  <div class="carousel-item">
                     <img src="images/slider/banners/banner3.jpeg" alt="Banner 3">
                  </div>
               </div>

               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Atrás</span>
               </a>

               <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
               </a>
            </div>

         </div>

      </header>

      <hr>
      <div class="sections main__sections">
         <section class="nosotros width--100 fijar" id="nosotros" tabindex="-1">

            <div class="text-content">

               <div class="about--tips">
                  <span>Si te perdiste nuestra última colección visítamos</span>
                  <div class="about--buttons">
                     <a href="#footer-colecciones"
                        class="button button--solid-translucid button--uppercase button--small-t">Click Aquí</a>
                  </div>
               </div>

               <div class="bc--gray-5">
                  <div class="about--title">
                     <h2 id="title-we" class="text--big text--uppercase">Sobre Nosotros</h2>
                  </div>

                  <div class="about--description">
                     <p style="text-align: center;" id="fredd"><span>KENDYS</span> nace de la necesidad de crear piezas
                        únicas con un estilo diferente,inspiradas en la mujer de hoy.
                        Nuestra marca integra el diseño, fabricación,distribución y venta de piezas exclusivas.looo</p>
                  </div>

               </div>

            </div>

            <div class="sliders">

               <div class="sliders--left" id="dtyhu">
                  <h2 id="title-history" class="text--uppercase">Nuestra Historia</h2>
                  <p class="detail-history"><span>KENDYS<span> fue fundada en el año 2010 bajo el nombre de Just KC.
                           Hemos hecho metamorfosis como una bella mariposa, para adaptar nuestra marca a las nuevas
                           tendencias de diseño y de protagonismo que tenemos las mujeres hoy en día.</p>
                  <a href="#popup" class="button button--uppercase button--solid-translucid fc--white">Historia</a>
               </div>


               <div class="sliders--right">

                  <div class="images bc--black">
                     <img src="https://cdn.pixabay.com/photo/2015/10/12/15/18/clothing-store-984396_960_720.jpg"
                        alt="Foto">
                  </div>

                  <div class="sliders--text">
                     <div class="sliders--caption">
                        <h2 class="text--uppercase">La arquitectura es como la moda</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius molestiae
                           incidunt, iusto delectus sequi veritatis consequuntur dicta, cupiditate.</p>
                     </div>
                  </div>
               </div>

            </div>

         </section>
         <section class="scrollto sections__collections fijar" id="colecciones" tabindex="-1">
            <div class="text-content">
               <div class="collections--tips">
                  <h2 id="title-colecciones" class="text--big text--uppercase fc-gray-90">Colecci&oacute;n</h2>
                  <p class="description-collection">
                     En nuestras colleciones la esencia de la mujer trabajadora. emprendedora, jovial, versatil,
                     apasionada, luchadora y divertida
                     , caracteristicas que nos definen, imprimiendo un poco de cada una, honrando y atendiendo su
                     opini&oacute;n
                  </p>
               </div>
            </div>

            <div class="catalogos" id="derfgt">
               <div class="catalogos__item"><img class="catalogos__img" src="images/fotos/FOTO-1.jpg" alt="Foto"
                     class="grid--image"></div>

               <div class="catalogos__item bc--gray-90">
                  <div class="catalogos__inner">
                     <h2 class="catalogos__title"><a href="index.php/store"
                           style="text-decoration:none;color:#fff;">Basics<br>Collection</a></h2>
                     <hr>

                     <p>&nbsp;</p>
                     <p class="fc--base">(2019)</p>
                  </div>

               </div>


               <div class="catalogos__item"><img class="catalogos__img" src="images/fotos/FOTO-2.jpg" alt="Foto"
                     class="grid--image"></div>

               <div class="catalogos__item bc--gray-90">
                  <div class="catalogos__inner">
                     <h2 class="catalogos__title">Dualidad<br>sublime</h2>
                     <hr>

                     <p>&nbsp;</p>
                     <p class="fc--base">(2018)</p>
                  </div>

               </div>

               <div class="catalogos__item"><img class="catalogos__img" src="images/fotos/FOTO-3.jpg" alt="Foto"
                     class="grid--image"></div>

               <div class="catalogos__item bc--gray-90">
                  <div class="catalogos__inner">
                     <h2 class="catalogos__title">Colección<br>Caribe</h2>
                     <hr>

                     <p>&nbsp;</p>
                     <p class="fc--base">(2017)</p>
                  </div>

               </div>
            </div>
         </section>
         <section class="scrollto sections__accessories fijar" id="accesorios" tabindex="-1">
            <div class="accessories text-content accessories--text-content accessories--background-image">
               <h2 class="accessories__title">ACCESORIOS</h2>
               <p class="accessories__description text--center">Los accesorios marcan nuetra personalidad mas que
                  cualquier otra prenda de vestir que utilicemos. Ellos tienen la capacidad de cambiar 100% tu oufit,
                  puede hacer ver el vestido contel mas formal y convertirlo en el mas trendy.</p>

            </div>

            <div class="accessories--content" id="contenido-accesorio">
               <div class="galerias">
                  <div class="galerias__item"><img class="galerias__img"
                        src="https://cdn.pixabay.com/photo/2016/06/17/09/54/beauty-1462986_960_720.jpg" alt=" "></div>
                  <div class="galerias__item"><img class="galerias__img"
                        src="https://cdn.pixabay.com/photo/2015/11/07/11/46/fashion-1031469_960_720.jpg" alt=" "></div>
                  <div class="galerias__item"><img class="galerias__img"
                        src="https://cdn.pixabay.com/photo/2017/11/02/14/26/model-2911330_960_720.jpg" alt=" "></div>
                  <div class="galerias__item"><img class="galerias__img"
                        src="https://cdn.pixabay.com/photo/2016/07/11/15/43/woman-1509956_960_720.jpg" alt=" "></div>
                  <div class="galerias__item"><img class="galerias__img"
                        src="https://cdn.pixabay.com/photo/2013/11/14/12/34/neckties-210347_960_720.jpg" alt=""></div>
                  <div class="galerias__item"><img class="galerias__img"
                        src="https://cdn.pixabay.com/photo/2016/11/22/21/57/apparel-1850804_960_720.jpg" alt=" "></div>
                  <div class="galerias__item"><img class="galerias__img"
                        src="https://cdn.pixabay.com/photo/2016/11/19/15/40/clothes-1839935_960_720.jpg" alt=" "></div>
                  <div class="galerias__item"><img class="galerias__img"
                        src="https://cdn.pixabay.com/photo/2018/03/01/14/57/portrait-3190849_960_720.jpg" alt=" "></div>
                  <div class="galerias__item"><img class="galerias__img"
                        src="https://cdn.pixabay.com/photo/2016/03/09/10/22/two-women-1246024_960_720.jpg" alt=" ">
                  </div>
                  <div class="galerias__item"><img class="galerias__img"
                        src="https://cdn.pixabay.com/photo/2017/08/06/17/58/people-2594683_960_720.jpg" alt=" "></div>
               </div>
            </div>

         </section>
         <section class="sections__blog" id="blog" tabindex="-1">
            <div class="text-content blog--text-content text--uppercase flex justify-content--center">
               <p class="title-blog">Blog</p>
            </div>

            <div class="post">
               <div class="post--item">
                  <div class="post--section">

                     <div class="post--header">
                        <img src="https://cdn.pixabay.com/photo/2017/07/31/14/55/black-and-white-2558273_960_720.jpg" alt="Colecciones para hombres" class="post--image">
                     </div>

                     <div class="post--content">
                        <div class="post--content">
                           <h3 class="post--title">PRIMERA COLECCIÓN PARA HOMBRES KENDYS.</h3>


                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                              been the industry&#039;s standard dummy text ever since the 1500s.</p>

                        </div>
                     </div>

                  </div>

                  <div class="post--more">
                     <a href="index.php/blog/primera-coleccion-para-hombres-kendys" class="post--enlace">LEER MÁS</a>
                  </div>

               </div>


               <div class="post--item">
                  <div class="post--section">

                     <div class="post--header">
                        <img src="https://cdn.pixabay.com/photo/2016/08/26/20/44/elan-1623086_960_720.jpg" alt="Colecciones para salir" class="post--image">
                     </div>

                     <div class="post--content">
                        <div class="post--content">
                           <h3 class="post--title">COLECCIONES PARA SALIR DE LA RUTINA.</h3>


                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                              been the industry&#039;s standard dummy text ever since the 1500s.</p>

                        </div>
                     </div>

                  </div>

                  <div class="post--more">
                     <a href="index.php/blog/colecciones-para-salir-de-la-rutina" class="post--enlace">LEER MÁS</a>
                  </div>

               </div>


               <div class="post--item">
                  <div class="post--section">

                     <div class="post--header">
                        <img src="https://cdn.pixabay.com/photo/2018/11/09/16/51/fashion-3805034_960_720.jpg" alt="Nuestra diseñadora y fundadora" class="post--image">
                     </div>

                     <div class="post--content">
                        <div class="post--content">
                           <h3 class="post--title">NUESTRA DISEÑADORA Y FUNDADORA. ENTREVISTA.</h3>


                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                              been the industry&#039;s standard dummy text ever since the 1500s.</p>

                        </div>
                     </div>

                  </div>

                  <div class="post--more">
                     <a href="index.php/blog/nuestra-disenadora-y-fundadora-entrevista" class="post--enlace">LEER
                        MÁS</a>
                  </div>

               </div>


               <div class="post--item">
                  <div class="post--section">

                     <div class="post--header">
                        <img src="https://cdn.pixabay.com/photo/2017/06/21/20/51/tshirt-2428521_960_720.jpg" alt="Primera exposición de accesorios" class="post--image">
                     </div>

                     <div class="post--content">
                        <div class="post--content">
                           <h3 class="post--title">PRIMERA EXPOSICIÓN DE LOS ACCESORIOS KENDYS EN VENEZUELA.</h3>


                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                              been the industry&#039;s standard dummy text ever since the 1500s.</p>

                        </div>
                     </div>

                  </div>

                  <div class="post--more">
                     <a href="index.php/blog/primera-exposicion-de-los-accesorios-kendys-en-venezuela"
                        class="post--enlace">LEER MÁS</a>
                  </div>

               </div>


            </div>
         </section>
      </div>


      <div id="popup" class="overlay">
         <div class="overlay--content">
            <header class="overlay--header">
               <h3 class="text--center">Kendys</h3>
               <a href="#" id="cerrar" class="overlay--enlace">&times;</a>
            </header>

            <div class="overlay--parrafos">
               <p>Fue fundada en el año 2010 bajo el nombre de Just KC. Nuestra fundadora y CEO Kendys Karolina Carrizo
                  desde pequeña ha mantenido el interés por la moda, pasión que ha compartido con una formación
                  académica en el área de ingeniería.</p>
               <p>Hemos hecho metamorfosis como una bella mariposa, para adaptar nuestra marcaa las nuevas tendencias de
                  diseño y de protagonismo que tenemos las mujeres hoy en día.</p>
               <p>KENDYS nace de la necesidad de crear piezas únicas con un estilo diferente, inspiradas en la mujer de
                  hoy, ajustados a nuestro entorno con ánimos de abrir o expandir el estilo en sus seguidoras y así como
                  también colaborar socioeconómicamente con el entorno y las comunidades que hacen posible la expansión
                  de nuestros productos, y por ende, el posicionamiento de la marca,enfatizando el trabajo en equipo
                  realizado por un grupo de talentosas mujeres que hacen posible la confección de nuestra piezas.</p>
               <p>Es importante resaltar que en KENDYS hacemos énfasis en el desarrollo artístico de nuevos diseñadores,
                  estableciendo alianzas que nos permitan proyectar la marca más allá de nuestras fronteras.</p>
               <p>Nuestra marca integra el diseño, fabricación, distribución y venta de piezas exclusivas. NOTA: Que la
                  imagen de las modelos vaya cambiando con las mejores fotos de las colecciones.</p>
               <p>Toma dos imágenes a tu elección de CADA colección, serian en total unas 12 imágenes.</p>
            </div>
         </div>
      </div>


      <!-- Contact -->
      <section class="container-fluid fijar" id="contact" tabindex="-1">
         <div class="contact-us">

            <div class="contact-us--item">
               <h3 class="contact-us--title">General</h3>
               <br>
               <ul class="contact-us--menu">
                  <li><a target="_blank" href="mailto:infokendys@gmail.com" class="contact-us--enlace"><i
                           class="fa fa-envelope fa-sm"></i> infokendys@gmail.com</a></li>
                  <li><a target="_blank" href="tel:19726740129" class="contact-us--enlace"><i
                           class="fa fa-phone fa-sm"></i> +19726740129</a></li>
                  <li><a href="https://www.kendys.com.ve" class="contact-us--enlace"><i class="fa fa-globe fa-sm"></i>
                        www.kendys.com.ve</a></li>
               </ul>

               <p>&nbsp;</p>

               <h3 class="contact-us--title">Stay connected</h3>
               <br>
               <ul class="contact-us--menu">
                  <li><a target="_blank" href="https://www.facebook.com/kendys.carrizo" class="contact-us--enlace"><i
                           class="fab fa-facebook fa-sm"></i>kendys.carrizo</a></li>
                  <li><a target="_blank" href="https://instagram.com/kendys_ve" class="contact-us--enlace"><i
                           class="fab fa-instagram fa-sm"></i>kendys_ve</a></li>
               </ul>
            </div>


            <div class="contact-us--item">
               <h3 class="contact-us--title">Dirección</h3>
               <br>

               <ul class="contact-us--menu">
                  <li><i class="fa fa-globe-americas"></i>Estado Zulia, Venezuela</li>
                  <li><i class="fa fa-globe-americas"></i>Houston, EEUU</li>
               </ul>
            </div>


            <div class="contact-us--item contact-us--form">
               <h3 class="contact-us--title">Contacto</h3>
               <br>

               <form id="contacto">

                  <label class="contact-us--label" data="text" for="name">
                     <input class="contact-us--input" type="text" id="name"
                        v-bind:class="{ 'is-invalid': nameRequired }" v-model="name" name="name" autocomplete="off">
                     <span class="contact-us--label-text">Nombres:</span>
                  </label>

                  <label class="contact-us--label" data="text" for="email">
                     <input class="contact-us--input" type="text" id="email"
                        v-bind:class="{ 'is-invalid': emailRequired }" v-model="email" name="email" autocomplete="off">
                     <span class="contact-us--label-text">Email:</span>
                  </label>

                  <label class="contact-us--label" data="text" for="affair">
                     <input class="contact-us--input" type="text" id="affair"
                        v-bind:class="{ 'is-invalid': affairRequired }" v-model="affair" name="affair"
                        autocomplete="off">
                     <span class="contact-us--label-text">Asunto:</span>
                  </label>

                  <label class="contact-us--label-area" data="descripcion" for="commentary">
                     <textarea class="contact-us--textarea" id="commentary"
                        v-bind:class="{ 'is-invalid': commentaryRequired }" v-model="commentary" name="commentary"
                        autocomplete="off"></textarea>
                     <span class="contact-us--area-text">Mensaje:</span>
                  </label>

                  <div class="group-button">

                     <button type="button" value="Enviar" v-on:click="Send"
                        class="bt bt--button bt--right">Enviar</button>
                  </div>

               </form>
            </div>
         </div>

      </section>

      <footer class="footer main__footer width--100">
         <div class="footer--border footer--padding">


            <div class="etiquetas fijar" id="footer-colecciones">
               <div class="etiquetas--item">
                  <img class="etiquetas--logo" src="images/logo/kendys-cuadrado.svg" alt="Kendys">
               </div>

               <div class="etiquetas--item">

                  <div class="etiquetas--grid">
                     <div class="etiquetas--grid__item">
                        <h3 class="etiquetas--title">Colecciones</h3>


                        <ul class="etiquetas--menu">


                           <li class="menu-footer"><a class="etiquetas--enlace"
                                 href="index.php/colecciones/coleccion-2019">Colección
                                 2019</a></li>
                           <li class="menu-footer"><a class="etiquetas--enlace"
                                 href="index.php/colecciones/coleccion-2018">Colección
                                 2018</a></li>
                        </ul>
                     </div>

                     <div class="etiquetas--grid__item">
                        <h3 class="etiquetas--title"><a class="etiquetas--enlace etiquetas--enlace-title"
                              href="index.php#nosotros">Sobre
                              Nosotros</a></h3>
                     </div>

                     <div class="etiquetas--grid__item">
                        <h3 class="etiquetas--title"><a class="etiquetas--enlace etiquetas--enlace-title"
                              href="index.php/blog">Blog</a>
                        </h3>
                     </div>
                  </div>

               </div>

            </div>

         </div>

         <div class="info flex justify-content--center align-items--center flex--wrap">
            <span class="info--item">&copy; - COPYRIGHT 2019</span>
            <span class="info--item">POLÍTICA DE PRIVACIDAD</span>
            <span class="info--item">DERECHOS RESERVADOS</span>
         </div>

         <div class="website flex justify-content--center align-items--center">
            <a style="text-decoration:none;color:#5B5B5B;font-weight:bold;" href="www.kendys.com.ve"
               target="_blank">www.kendys.com.ve</a>
         </div>
      </footer>


      <div class="menu-smartphone" id="menu-smartphone">
         <nav class="navbar navbar--smartphone" id="navmenu-smartphone">
            <header class="navbar__header">

               <div class="images">
                  <a href="#" class="images__enlace">
                     <img src="images/logo/kendys.svg" alt="Logotipo" class="navbar__logo">
                  </a>
               </div>


               <div class="salir">
                  <a href="#" data-button="salir" class="salir__enlace">&times;</a>
               </div>
            </header>

            <ul class="menu menu--horizontal between menu--login">



               <li class="menu__item menu__item--smartphone">
                  <a href="index.php/login" class="menu__enlace menu__enlace--smartphone">Login</a>
               </li>

               <li class="menu__item menu__item--smartphone">
                  <a href="index.php/register" class="menu__enlace menu__enlace--smartphone">Registrarse</a>
               </li>

            </ul>

            <ul class="menu menu--smartphone" data-menu="menuBar">

               <li class="menu__item menu__item--smartphone"><a class="enlace enlace--smartphone" href="#">Inicio</a>
               </li>
               <li class="menu__item menu__item--smartphone"><a class="enlace enlace--smartphone"
                     href="#nosotros">Nosotros</a></li>
               <li class="menu__item menu__item--smartphone"><a class="enlace enlace--smartphone"
                     href="#colecciones">Colecciones</a></li>
               <li class="menu__item menu__item--smartphone"><a class="enlace enlace--smartphone"
                     href="#accesorios">Accesorios</a></li>
               <li class="menu__item menu__item--smartphone"><a class="enlace enlace--smartphone"
                     href="index.php/catalogue">Catálogo</a>
               </li>
               <li class="menu__item menu__item--smartphone"><a class="enlace enlace--smartphone"
                     href="index.php/blog">Blog</a>
               </li>
               <li class="menu__item menu__item--smartphone"><a class="enlace enlace--smartphone"
                     href="#contact">Contacto</a></li>

            </ul>
         </nav>
      </div>



      <div data-button="subir" class="button button--subir">
         <i class="fas fa-angle-up"></i>
      </div>
   </main>



   <!-- Todos los scripts -->


   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <!--  -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

   <!--  -->
   <!-- <script src="js/slider.js"></script>
  <script src="js/stickyNavbar/js/jquery.easing.min.js"></script>
  <script src="js/stickyNavbar/js/jquery.stickyNavbar.min.js"></script>
  <script src="js/stickyNavbar/js/navbar.js"></script>
  <script src="js/ninja-slider.js"></script> -->

   <script src="js/slider.js"></script>
   <script src="js/stickyNavbar/js/jquery.easing.min.js"></script>
   <script src="js/stickyNavbar/js/jquery.stickyNavbar.min.js"></script>
   <script src="js/stickyNavbar/js/navbar.js"></script>
   <script src="js/ninja-slider.js"></script>

   <!-- 
   -->

   <!-- <script src="plugins/axios/axios.min.js"></script>
  <script src="plugins/sweet-alert/sweetalert2.all.min.js"></script> -->

   <script src="plugins/axios/axios.min.js"></script>
   <script src="plugins/sweet-alert/sweetalert2.all.min.js"></script>


   <!-- <script src="js/scripts.js?v=2.0"></script> -->
   <!-- <script src="plugins/vamzfe/js/vamzfe.js"></script> -->

   <script src="js/scripts.js?v=2.0"></script>
   <script src="plugins/vamzfe/js/vamzfe.js"></script>

   <!--  -->


   <script>
      const app = new Vue({
         el: '#contact',
         data: {
            name: '',
            email: '',
            affair: '',
            commentary: '',
            nameRequired: false,
            emailRequired: false,
            affairRequired: false,
            commentaryRequired: false,
            load: false,
         },

         methods: {
            Clear: function () {
               this.name = "";
               this.email = "";
               this.affair = "";
               this.commentary = "";
            },//Clear:function()

            ErrorClear: function () {
               this.nameRequired = false;
               this.emailRequired = false;
               this.affairRequired = false;
               this.commentaryRequired = false;
            },//ErrorClear:function()

            message: function (type, title, text) {
               Swal.fire({ type: type, title: title, text: text, });
            },//message:function(type,title,text)

            Send: function () {
               let self = this;
               var name = this.name;
               var email = this.email;
               var affair = this.affair;
               var commentary = this.commentary;
               this.ErrorClear();
               if (name == "") {
                  this.message('error', 'error', 'El campo nombre y apellido son requeridos');
                  this.nameRequired = true;
               }//if(name=="")
               else if (email == "") {
                  this.message('error', 'error', 'El campo correo es requerido');
                  this.emailRequired = true;
               }//else if(email=="")
               else if (affair == "") {
                  this.message('error', 'error', 'El campo asunto es requerido');
                  this.affairRequired = true;
               }//else if(affair=="")
               else if (commentary == "") {
                  this.message('error', 'error', 'El campo comentario es requerido');
                  this.commentaryRequired = true;
               }//else if(commentary=="")
               else {
                  self.load = true;
                  axios.post('index.php/ContactUsOne', {
                     name: name,
                     email: email,
                     affair: affair,
                     commentary: commentary,
                  }).then(function (response) {
                     if (response.data.status == 'success') {
                        self.message(response.data.status, 'Success', response.data.mensaje);
                        self.Clear();
                        self.load = false;
                     }//if(response.data.status=='success')
                     else if (response.data.status == 'error') {
                        self.message(response.data.status, 'Error', response.data.mensaje);
                        self.load = false;
                     }//if(response.data.status=="error")
                     self.load = false;
                  }).catch(function (error) {
                     self.load = false;
                  });
               }//else
            },//Send:function()
         },//methods
      });//const app= new Vue
   </script>
</body>

</html>