@mixin interpolar ($propiedad, $unidad: "%", $final: 20) {
  @for $i from 0 through $final {
    $num: $i * 5;

    
    @if $unidad == "%" {
      .#{$propiedad}--#{$num} {
        #{$propiedad}: propiedad($num, $unidad);
      }
    }@else {
      .#{$propiedad}--#{$num}#{$unidad} {
        #{$propiedad}: propiedad($num, $unidad);
      }
    }
  }
}

@mixin focused-text {
  height: var(--label-height);
  align-items: flex-start;
  border-bottom-color: transparent;
  font-size: 0.9rem;

  &::before {
    transform: rotateY(0deg);
    opacity: 1;

    animation: 300ms cubic-bezier(0.3, 0, 0, 1) rotarY 1;
  }
}

@mixin focused-area {
  
}